.jumbotron{

    border: 2px solid black;
    padding: 2rem;

    h2{
        text-align: center;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 300px;
        > div{
            // height: 260px;
        }
    }

    .actions-row{
        margin-top: 1rem;
    }


}